*{
    box-sizing: border-box;
}
body{
    margin: 0;padding: 0;
}

.pan {
	overflow: hidden;
	/* display: flex; */

	max-width: 700px;
	
	padding-top: 320px;margin:  0 auto;
}




@media screen and (max-width:600px){
    .left-1{
float: left;
    }
    .left-images{
        width: 600px;
    }
   
    .b{
        float: left;width: 600px;
    }
    .bb{
        float: left;width: 600px;
    }
}
